.icon {
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;

	color: inherit;
	line-height: 1;
}

.svg {
	display: block;

	color: inherit;
	fill: currentColor;
}

.svg path {
	fill: currentColor;
}
