.wrapper {
	position: absolute;
	inset: 0;
	z-index: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	pointer-events: none;
}

.bottomLeft {
	bottom: 0;
	left: 0;

	height: 70%;
	aspect-ratio: 1;
}

.bottomRight {
	right: 0;
	bottom: 0;

	height: 80%;
	aspect-ratio: 1;
}

.topRight {
	top: -2rem;
	right: -20%;

	width: 80%;
	max-width: 60rem;
	height: 12.5rem;

	transform: scale(1.5, 1);
	transform-origin: top right;
}

.bottomLeftAnimated,
.bottomRightAnimated {
	stroke-dasharray: 700;
}

.bottomLeftAnimated {
	stroke-dashoffset: 700;
	animation: dashBottomLeft 10s linear infinite;
}

.bottomRightAnimated {
	stroke-dashoffset: -700;
	animation: dashBottomRight 10s linear infinite;
}

.topRightAnimated {
	stroke-dasharray: 1000;
	stroke-dashoffset: -1000;
	animation: dashTopRight 10s linear infinite;
}

@keyframes dashBottomLeft {
	0% {
		stroke-dashoffset: 700;
	}

	16% {
		stroke-dashoffset: 0;
	}

	38%,
	100% {
		stroke-dashoffset: -700;
	}
}

@keyframes dashBottomRight {
	0%,
	28% {
		stroke-dashoffset: -700;
	}

	50% {
		stroke-dashoffset: 0;
	}

	71%,
	100% {
		stroke-dashoffset: 700;
	}
}

@keyframes dashTopRight {
	0%,
	61% {
		stroke-dashoffset: -1000;
	}

	83% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 1000;
	}
}

@media (max-width: 62.5rem) {
	.wrapper {
		display: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	.bottomLeftAnimated,
	.bottomRightAnimated,
	.topRightAnimated {
		animation: none;
		stroke-dashoffset: 0;
	}
}
